$body-bg: #f0f0f0;
$body-color: #242424;

$font-size: 16px;
$font-family: 'Lato',  sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-base: $font-weight-light;

$line-height: 1.75;

$theme-colors: (
  'brand': #ff4f30,
  'primary': #ffa330,
  'secondary': #555555
);

$grid-max-width: 65em;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
